@charset "UTF-8";
@font-face {
  font-family: "Mark Pro";
  src: url("/fonts/FontFont_FF.Mark.Pro.Bold.otf");
  src: url("/fonts/FontFont_FF.Mark.Pro.otf") format("embedded-opentype"), url("/fonts/FontFont_FF.Mark.Pro.Bold.otf") format("woff"), url("/fonts/FontFont_FF.Mark.Pro.Bold.otft") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mark Pro";
  src: url("/fonts/FontFont_FF.Mark.Pro.otf");
  src: url("/fonts/FontFont_FF.Mark.Pro.otf") format("embedded-opentype"), url("/fonts/FontFont_FF.Mark.Pro.otf") format("woff"), url("/fonts/FontFont_FF.Mark.Pro.otft") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Marion";
  src: url("/fonts/Marion.ttc");
  src: url("/fonts/Marion.ttc") format("embedded-opentype"), url("/fonts/Marion.ttc") format("woff"), url("/fonts/Marion.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

section {
  overflow: hidden;
}

.close {
  display: none;
}

.coreleus-services_container {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: -8rem;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/******************
Header content
*******************/
.header-coreleus {
  background-image: url("/img/header_hintergrundbild.jpg");
  width: 100%;
  min-height: 86vh;
  padding-top: 4.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.header-coreleus:before {
  background: 50% 50%/cover;
}
.header-coreleus .ml_desktop_150 {
  transform: translateX(164px);
}
.header-coreleus nav,
.header-coreleus ul {
  padding: 0;
}
.header-coreleus_innerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-coreleus_logo {
  max-width: 490px;
  transform: translateY(0.5rem);
  width: 494px;
  display: block;
}
.header-coreleus_nav {
  display: flex;
  margin-top: 5.3rem;
  width: 100%;
  max-width: 900px;
}
.header-coreleus_nav > li {
  white-space: nowrap;
  font-size: 1.4em;
  color: white;
  box-sizing: border-box;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Mark Pro";
  font-weight: lighter;
  letter-spacing: 0.118em;
  margin-right: 4.5rem;
}
.header-coreleus_nav a::before {
  content: "/";
  display: inline-block;
  padding-right: 0.5rem;
}
.header-coreleus_nav a {
  text-decoration: none;
  font-weight: normal;
  color: white;
}
.header-coreleus_heading {
  margin-top: 30.4vh;
}
.header-coreleus_heading_byline {
  margin-top: 5rem;
  font-size: 1.289em;
  letter-spacing: 0.178em;
  text-transform: uppercase;
  font-family: "Mark Pro";
  font-weight: normal;
  margin-left: 0;
  color: white;
}
.header-coreleus_heading_byline:before {
  margin-right: 1.2rem;
  content: "";
  width: 117px;
  border-bottom: white solid 1px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-2px) translateX(-5px);
}
.header-coreleus_heading_text {
  color: white;
  font-size: 3.6em;
  letter-spacing: 0.015em;
  font-family: "Marion";
  font-weight: normal;
  line-height: 1.335em;
}

/** Mobile Menu  if click **/
.coreleus-menu_nav {
  display: none;
  height: 100vh;
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -8rem;
  z-index: 1;
  margin: 0;
  transform: translateX(0);
}
.coreleus-menu_nav li {
  list-style-type: none;
  top: 12%;
  position: relative;
  font-size: 1.6em;
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: inherit;
  color: white !important;
  font-family: "Mark Pro";
  text-align: center;
  margin-top: 30px;
}
.coreleus-menu_nav li a {
  color: #b3aeae !important;
  opacity: 2;
  text-decoration: none;
  padding: 8px;
  transition: 0.3s;
  display: block;
}
.coreleus-menu_nav li a:hover {
  color: red;
}

/**** Hamburger icon ***/
.coreleus-menu_hamburger {
  display: none;
  cursor: pointer;
  z-index: 9999999;
}

.coreleus-menu_hamburger .line {
  width: 41px;
  height: 1px;
  display: block;
  z-index: 999;
  background-color: black;
  margin: 8px auto;
}

.coreleus-menu_hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.coreleus-menu_hamburger.is-active .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.coreleus-menu_hamburger.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.container {
  max-width: 1653px;
  margin: auto;
}

.coreleus-section_about_row {
  width: 100%;
  display: flex;
  margin-left: 23rem;
  width: 100%;
  margin-top: 7vh;
  font-family: "Mark Pro";
  color: #666;
}
.coreleus-section_about_row .coreleus-section_row_card:nth-child(1) {
  margin-right: 7rem;
}
.coreleus-section_about_row .coreleus-section_row_card {
  width: 100%;
  max-width: 500px;
  height: 100%;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title {
  font-size: 2.3em;
  color: gray;
  width: 100%;
  max-width: 500px;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title:before {
  content: "/";
  display: inline-block;
  padding-right: 0.6rem;
  transform: translateX(-48px);
  width: 1px;
  height: 100%;
  font-weight: 300 !important;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
  font-size: 1.4em;
  margin-left: 1.89rem;
  margin-top: 3.9vh;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text {
  font-size: 1.369em;
  width: 100%;
  line-height: 1.4;
  margin-left: 1.7rem;
  margin-top: 5.2vh;
  max-width: 498px;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text_left {
  margin-left: 5rem;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title_custom {
  margin-left: 4.5rem !important;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above_custom {
  margin-left: 4.3rem !important;
}
.coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_right {
  margin-left: 1rem !important;
}

.coreleus-section_bakground_image {
  background-image: url("/img/Diskuswerfer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 82vh;
  margin-top: 8.9vh;
  overflow: hidden;
}
.coreleus-section_bakground_image .coreleus-section_background_image_textblock {
  margin-top: 34vh;
}
.coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
  font-size: 4em;
  font-family: "Marion";
  width: 100%;
  max-width: 1145px;
  letter-spacing: 0.01em;
  margin-left: 4rem;
  margin-top: 6rem !important;
  color: #5e5c5c;
  font-weight: 400;
}
.coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
  margin-top: 5.2vh;
  color: #5e5c5c;
  font-family: "Mark Pro";
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-weight: normal;
  font-size: 1.3em;
  transform: translateX(-15px);
  hyphens: auto;
}
.coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above:before {
  content: "";
  width: 103px;
  border-bottom: #5e5c5c solid 2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5rem;
  margin-right: 2rem;
  transform: translateX(6px);
}

.coreleus-section_service_bakground {
  background-image: url("/img/service-backgroud.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
}
.coreleus-section_service_bakground .coreleus-services_title {
  padding-bottom: 4.9rem;
  padding-top: 6rem;
}
.coreleus-section_service_bakground .service_slideshow_large .glide__arrow--left {
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg);
  left: 5rem !important;
}
.coreleus-section_service_bakground .service_slideshow_large .glide__arrow--right {
  transform: rotate(-45deg) !important;
  right: 5rem !important;
}
.coreleus-section_service_bakground .service_slideshow_large .coreleus-card_beta_body {
  margin-bottom: 0;
}

.coreleus-services_title {
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
  font-family: "Mark Pro";
  font-weight: normal !important;
  line-height: 1.3;
  letter-spacing: 0.09em;
  color: white;
  padding-bottom: 9.4rem;
  padding-top: 6rem;
  transform: translateY(26px);
}

.container-slick {
  width: 1690px;
  margin: auto;
}

.coreleus-item {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  margin-top: 0;
}

.coreleus-card_img {
  width: 100%;
  height: 32vh !important;
}

.coreleus-card {
  background: #525050;
  opacity: 0.8;
}

.coreleus-card_body {
  padding: 12;
  width: 100%;
}

.coreleus-card_title {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  font-family: "Mark Pro";
  color: white;
  transform: translateX(69px);
  line-height: 1.3;
  padding-bottom: 2rem;
}
.coreleus-card_title:before {
  color: white;
  content: "/ ";
  font-weight: normal;
  padding-right: 1.2rem;
  width: 6px;
}

.coreleus-card_text {
  color: white;
  font-size: 1.4em;
  font-family: "Mark Pro";
  width: 100%;
  max-width: 400px;
  transform: translateY(-48px) translateX(64px);
  line-height: 1.4;
}

/* glide carousel custom */
.glide__arrow {
  border: solid rgba(200, 200, 200, 0.8) !important;
  border-width: 0 2px 2px 0 !important;
  box-shadow: none !important;
  content: " ";
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
}

.glide__arrow--right {
  transform: rotate(-45deg) !important;
  right: -3rem !important;
}

.glide__arrow--left {
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg);
  left: -3rem !important;
}

.beta-coreleus-section_about_row {
  margin-top: 8vh;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_title {
  font-size: 2.3em;
  color: #666;
  width: 100%;
  max-width: 500px;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_title:before {
  content: "/";
  display: inline-block;
  padding-right: 0.6rem;
  transform: translateX(-48px);
  width: 1px;
  height: 100%;
  font-weight: 300 !important;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_above {
  font-size: 1.4em;
  margin-left: 1.89rem;
  margin-top: 3.9vh;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_text {
  font-size: 1.369em;
  width: 100%;
  line-height: 1.4;
  margin-left: 1.7rem;
  margin-top: 5.2vh;
  max-width: 498px;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_text_left {
  margin-bottom: 2rem;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_title_custom {
  margin-left: 4.5rem !important;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_above_custom_vision {
  margin-left: 5rem !important;
  width: 100% !important;
  max-width: 500px !important;
}
.beta-coreleus-section_about_row .coreleus-section_row_card_right {
  margin-left: 1rem !important;
}
.beta-coreleus-section_about_row .coreleus-section_about_row_card_above {
  width: 100%;
  max-width: 500px;
  margin-left: 2rem !important;
  margin-top: 3.6vh !important;
}
.beta-coreleus-section_about_row .beta-coreleus-section_about_row:nth-child(1) {
  margin-right: -9.99rem;
}

.beta_coreleus-section_bakground_image {
  background-image: url("/img/Section_bakground_entrepreneur.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 82.3vh;
  margin-top: 5rem;
}

.beta-coreleus-section_background_image_textblock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(655px) translateY(1px) !important;
  width: 100%;
  line-height: 1.4;
  margin-top: 12vh !important;
  color: #666;
}
.beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left_above {
  transform: translateY(25px);
}
.beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left {
  font-size: 3.3em;
  font-family: "Marion";
  width: 100%;
  max-width: 910px;
  letter-spacing: 0.01em;
  margin-left: 2rem;
  margin-top: 10rem !important;
}
.beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left_above {
  margin-top: 5.8vh;
  color: #5e5c5c;
  font-family: "Mark Pro";
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-weight: normal;
  font-size: 1.3em;
  transform: translateX(-15px);
  hyphens: auto;
}
.beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left_above:before {
  content: "";
  width: 103px;
  border-bottom: #666 solid 2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.9rem;
  margin-right: 2rem;
  transform: translateX(19px);
}

/* section impressionen  */
.coreleus-section-impressionen_title {
  text-transform: uppercase;
  font-size: 1.84em;
  text-align: center;
  font-family: "Mark Pro";
  font-weight: normal !important;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: white;
  padding-bottom: 13.6rem;
  transform: translateY(79px);
}

.coreleus-section-impressionen .coreleus-section-impressionen_title {
  color: black;
  padding-bottom: 8.8rem !important;
  transform: translateY(89px);
  font-size: 1.6em;
  letter-spacing: 0.11em;
  opacity: 0.6;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur img {
  width: 100%;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur {
  transform: translateX(-6px);
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col .coreleus-section-impressionen_col_left {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-template-areas: "a a a a b b b b" "c c c c c c c c" "c c c c c c c c";
  align-items: start;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col .coreleus-section-impressionen_col_left .item1 {
  grid-area: a;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col .coreleus-section-impressionen_col_left .item2 {
  grid-area: b;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col .coreleus-section-impressionen_col_left .item3 {
  grid-area: c;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col_right {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "c c c c c c c c" "c c c c c c c c" "a a a a b b b b";
  align-items: start;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col_right .item4 {
  grid-area: a;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col_right .item5 {
  grid-area: b;
}
.coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col_right .item6 {
  grid-area: c;
}

.coreleus_gallery_col_left {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "a a a a b b b b" "c c c c c c c c" "c c c c c c c c";
  align-items: start;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

/* section Team */
.coreleus-section-Team_background {
  background-image: url("/img/Team.jpg");
  background-size: cover;
  background-position: center;
  height: 84.3vh;
  margin-top: 10vh;
}
.coreleus-section-Team_background .coreleus-section-impressionen_title {
  color: white;
  padding-bottom: 11rem !important;
  padding-top: 1rem;
  font-size: 1.6em;
  letter-spacing: 0.11em;
}
.coreleus-section-Team_background .team_slideshow_normal .glide__arrow {
  top: 38%;
}
.coreleus-section-Team_background .team_slideshow_large .coreleus-section_Team_card_text {
  letter-spacing: 0 !important;
}
.coreleus-section-Team_background .coreleus-card_beta_body {
  margin-left: 2.3rem;
}
.coreleus-section-Team_background .team-large .coreleus-section_Team_card_text {
  font-size: 1.13em !important;
  transform: translateY(-112px) translateX(37px) !important;
  width: 410px !important;
}
.coreleus-section-Team_background .team-large .coreleus-card_beta_img {
  height: 42.1vh;
  object-fit: cover;
  position: relative;
  top: 5.2rem;
  left: 2.3rem;
}
.coreleus-section-Team_background .team .glide__arrow--right {
  right: 9rem !important;
}
.coreleus-section-Team_background .team .glide__arrow--left {
  left: 9rem !important;
}
.coreleus-section-Team_background .service .coreleus-card_beta_body {
  width: 60% !important;
  font-size: 0.9em;
  margin-left: 1.3rem;
  text-align: justify;
}
.coreleus-section-Team_background .service .glide__arrow--right {
  right: 1rem !important;
}
.coreleus-section-Team_background .service .glide__arrow--left {
  left: 1rem !important;
}
.coreleus-section-Team_background .coreleus-section_Team_container {
  display: flex !important;
  flex-direction: row;
  transform: translateY(-5px);
  justify-content: center;
  align-items: center;
  transform: translateY(-22px);
}
.coreleus-section-Team_background .coreleus-section_Team_container .coreleus-section_Team_card_img {
  width: 520px;
}
.coreleus-section-Team_background .coreleus-section_Team_container .left {
  margin-right: 2rem;
}
.coreleus-section-Team_background .coreleus-section_Team_container .coreleus-section_Team_card_text {
  list-style: none;
  font-size: 1.2em;
  font-family: "Mark Pro";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #434448;
  padding: 2.4em;
  width: 520px;
  transform: translateY(-207px);
  line-height: 1.5;
  padding-left: 4rem;
  opacity: 0.9;
  color: white;
  font-weight: normal;
  opacity: 0.7;
}

.items-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto !important;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.coreleus-card_beta_img {
  height: 42.19vh;
  object-fit: cover;
}

.coreleus-card_beta_body {
  background-color: #434448;
  padding: 1em;
  opacity: 0.8;
  width: 100%;
  margin: 0;
  padding-right: 6rem;
  height: 42.1vh;
  margin-bottom: 1.7rem;
}

.text_card_beta {
  font-size: 1.4em;
  font-family: "Mark Pro";
  color: white;
  font-weight: 400;
  margin-top: 2rem;
  width: 100%;
  max-width: 957px;
}

.text_card_beta_lütjen {
  font-size: 1.3em;
}

.coreleus-card_beta_title {
  font-size: 2.6em;
  font-weight: bold;
  cursor: pointer;
  font-family: "Mark Pro";
  color: white;
  padding-bottom: 2px;
  line-height: 1.3;
}
.coreleus-card_beta_title:before {
  color: white;
  content: "/ ";
  font-weight: normal;
  padding-right: 1.2rem;
  width: 650px;
}

.coreleus-card_beta_text {
  color: white;
  font-size: 1.5em;
  font-family: "Mark Pro";
  line-height: 1.4;
  text-transform: uppercase;
}

.coreleus-card_beta_body_text {
  transform: translateX(30px) translateY(-73px);
}

.coreleus-card_beta_title_text {
  transform: translateY(-40px);
  margin-top: 4rem;
}

.coreleus-section-Slide_team {
  padding-bottom: 3rem;
}

/* coreleus beta footer */
#impressum_slideshow_large .coreleus-section_footer_text_above:before {
  transform: translateY(0px) translateX(-19px);
  margin-left: 6rem !important;
}

.beta_coreleus-section_footer_background {
  background-image: url("/img/Footer.jpg");
  background-size: cover;
  background-position: center;
  height: 88vh;
}
.beta_coreleus-section_footer_background .coreleus-impressum_btn {
  content: " ";
  border: solid rgba(102, 100, 100, 0.8) !important;
  border-width: 0 2px 2px 0 !important;
  box-shadow: none !important;
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  position: relative;
  top: 9.7rem;
  left: -3em;
  transform: rotate(133deg);
}
.beta_coreleus-section_footer_background .impressum {
  text-decoration: none;
  color: #666;
}
.beta_coreleus-section_footer_background .impressum_title, .beta_coreleus-section_footer_background .impressum_above {
  margin-left: 5rem;
}
.beta_coreleus-section_footer_background .coreleus-section_footer_text_above {
  margin-top: 15.8vh;
  font-size: 1.3em;
  font-family: "Mark Pro";
  letter-spacing: 0.19rem;
  margin-left: 1rem;
}
.beta_coreleus-section_footer_background .coreleus-section_footer_text_above:before {
  content: "";
  width: 117px;
  border-bottom: #666 solid 1px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(0px) translateX(1px);
}
.beta_coreleus-section_footer_background .coreleus-section_footer_kontakt {
  margin-top: 5rem;
}
.beta_coreleus-section_footer_background .coreleus-section_footer_adresse li {
  list-style: none;
  font-size: 1.4em;
  text-align: left;
  font-family: "Mark Pro";
  transform: translateX(-42px);
  line-height: 1.5;
}

/* coreleus normal footer */
.coreleus-section_footer_background {
  background-image: url("/img/Footer.jpg");
  background-size: cover;
  background-position: center;
  height: 88vh;
}
.coreleus-section_footer_background .coreleus-section_footer_container {
  margin-left: 5rem;
}
.coreleus-section_footer_background .coreleus-impressum_btn {
  content: " ";
  border: solid rgba(102, 100, 100, 0.8) !important;
  border-width: 0 2px 2px 0 !important;
  box-shadow: none !important;
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  position: relative;
  top: 18.8rem;
  left: 3em;
  transform: rotate(133deg);
  color: #666 !important;
}
.coreleus-section_footer_background .impressum {
  text-decoration: none;
  color: #666;
}
.coreleus-section_footer_background .coreleus-section_footer_text {
  font-size: 3.4em;
  width: 100%;
  max-width: 650px;
  padding-top: 13vh !important;
  color: #666;
}
.coreleus-section_footer_background .coreleus-section_footer_text_above {
  margin-top: 7.4vh;
  font-size: 1.3em;
  font-family: "Mark Pro";
  letter-spacing: 0.19rem;
  margin-left: 0.5rem;
  color: #6f6f6f;
}
.coreleus-section_footer_background .coreleus-section_footer_text_above:before {
  content: "";
  width: 105px;
  border-bottom: #666 solid 1px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(0px) translateX(-19px);
}
.coreleus-section_footer_background .coreleus-section_footer_kontakt {
  margin-top: 4.5rem;
  line-height: 1.5;
}
.coreleus-section_footer_background .coreleus-section_footer_adresse li {
  list-style: none;
  font-size: 1.4em;
  text-align: left;
  font-family: "Mark Pro";
  transform: translateX(-42px);
  line-height: 1.5;
  color: #6f6f6f;
}
.coreleus-section_footer_background .footer-margin_content {
  margin-top: 9vh;
}

.coreleus-footer {
  margin-top: 14.5vh;
  margin-left: 5rem;
  font-family: "Mark Pro";
}
.coreleus-footer .coreleus-footer_copyright {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #6f6f6f;
}

.row {
  flex-direction: row;
}

/* Slid service card with text  */
.beta-background {
  background-image: url("/img/service-backgroud.jpg");
  background-position: center;
  background-size: cover;
  height: 82vh;
}
.beta-background .coreleus-card_beta_img {
  height: 38vh;
  object-fit: cover;
  transform: translateY(2px);
}

/* Slide Team Section carousel */
.Coreleus-contact_us {
  /* glide carousel custom */
}
.Coreleus-contact_us .glide__arrow {
  border: solid rgba(200, 200, 200, 0.8) !important;
  border-width: 0 2px 2px 0 !important;
  box-shadow: none !important;
  content: " ";
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
}
.Coreleus-contact_us .glide__arrow--right {
  transform: rotate(-45deg) !important;
  right: -2rem !important;
}
.Coreleus-contact_us .glide__arrow--left {
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg);
  left: -2rem !important;
}
.Coreleus-contact_us .coreleus-card_beta_body {
  opacity: 0.5;
  width: 60%;
  margin-top: 2.5vh;
}
.Coreleus-contact_us .coreleus-section_Team_card_text {
  transform: translateY(-167px) !important;
  font-size: 1em !important;
}
.Coreleus-contact_us .coreleus-card_beta_img {
  height: 38vh;
  object-fit: cover;
  margin-top: 15vh;
}
.Coreleus-contact_us .coreleus-section_Team_card {
  transform: translateX(16px);
}
.Coreleus-contact_us .text_card_beta {
  font-size: 1.2em;
  line-height: 1.4;
  text-align: justify;
}
.Coreleus-contact_us .coreleus-card_beta_text {
  font-size: 1.2em;
  padding-bottom: 3rem;
}
.Coreleus-contact_us .coreleus-card_beta_title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.Coreleus-contact_us .coreleus-card_beta_body_text {
  transform: translateX(30px) translateY(-40px);
}

/* section footer impressum */
.beta_footer_impressum .coreleus-section_footer_container {
  display: flex;
}
.beta_footer_impressum .coreleus-section_footer_text {
  transform: translateY(190px);
}
.beta_footer_impressum .coreleus-section_footer_text_above {
  padding-top: 2rem;
}
.beta_footer_impressum .coreleus-section_footer_text {
  transform: translateY(100px);
}
.beta_footer_impressum .coreleus-section_footer_kontakt_title {
  font-size: 1.4em;
}
.beta_footer_impressum .coreleus-section_footer_kontakt_title li {
  list-style: none;
  font-size: 1.7em;
  text-align: left;
  font-family: "Mark Pro";
  transform: translateX(-42px);
}
.beta_footer_impressum .coreleus-section_impressum_margin {
  margin-top: 2vh;
}
.beta_footer_impressum .coreleus-section_impressum_right_margin {
  margin-left: 8rem;
}
.beta_footer_impressum .coreleus-section_footer_text_above {
  margin-top: 10.8vh;
}
.beta_footer_impressum .coreleus-footer {
  margin-top: 8vh;
}

.slideshow_hidden {
  transform: translateX(100%);
  height: 0;
  overflow: hidden;
}

.slideshow_shown {
  transform: translateX(0);
  height: auto;
}

.container-team {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  h5 {
    margin: 0;
    padding: 0;
  }

  .header-coreleus {
    min-height: 35vh;
    padding: 2rem;
  }
  .header-coreleus .container {
    font-size: 1em;
  }

  .header-coreleus_logo {
    max-width: 155px;
    transform: none;
  }

  .coreleus-menu_hamburger {
    transform: translateY(-10px);
  }

  .header-coreleus_heading {
    margin-top: 8vh;
  }

  .header-coreleus_heading_text {
    font-size: 1.1em;
  }

  .header-coreleus_heading_byline {
    font-size: 0.6em;
    letter-spacing: 0.18em;
    margin-top: 3rem;
  }
  .header-coreleus_heading_byline::before {
    width: 52px;
    margin-right: 0.2rem;
  }

  .row {
    flex-direction: column;
  }

  .coreleus-section_about_row {
    margin-left: 0;
    margin-top: 0.78vh;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
    font-size: 1em;
    margin-top: 0;
    width: auto;
    margin-left: 1rem !important;
  }

  .beta-coreleus-section_about_row {
    transform: translateY(10px);
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text {
    font-size: 1em;
    margin-top: 2.2vh;
    width: auto;
    margin-left: 0;
    padding: 1em;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title {
    font-size: 1.5em;
    transform: translateX(-3px);
    margin-left: 0 !important;
  }
  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title:before {
    padding-right: 3.6rem;
    transform: translateX(23px);
  }

  .coreleus-section_bakground_image {
    height: 44vh;
    margin-top: 0.1vh;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
    font-size: 1.3em;
    max-width: 325px;
    margin-left: 0;
  }

  .beta-coreleus-section_about_row .coreleus-section_row_card_above_custom_vision {
    margin-left: 0rem !important;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock {
    margin-top: 9vh;
    margin-left: 1rem;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
    font-size: 0.7em;
    margin-left: 1rem;
  }
  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above:before {
    margin-left: 0;
    width: 40px;
    margin-right: 2.4rem;
  }

  .container-slick {
    width: 100%;
  }

  .beta_coreleus-section_bakground_image {
    height: 44vh;
    margin-top: 4vh;
  }

  .beta-coreleus-section_background_image_textblock {
    transform: none !important;
    margin-top: 0 !important;
  }
  .beta-coreleus-section_background_image_textblock .beta-coreleus-section_background_image_textblock {
    font-size: 0.1em;
    letter-spacing: 0.13em;
  }

  .beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left {
    margin-top: 3rem !important;
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_conteneur .coreleus-section-impressionen_col .coreleus-section-impressionen_col_left .item3 {
    margin-bottom: 1rem;
  }

  #row {
    display: flex;
    flex-direction: column;
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_title {
    color: black;
    padding-bottom: 0.8rem !important;
    padding-top: 2rem;
    transform: translateY(0px);
    font-size: 1.6em;
    letter-spacing: 0.11em;
    opacity: 0.6;
  }

  .coreleus-section-Team_background {
    height: fit-content;
    margin-top: 3vh;
  }

  .coreleus-section-Team_background .coreleus-section_Team_container .coreleus-section_Team_card_img {
    width: 300px;
  }

  .coreleus-section-Team_background .coreleus-section_Team_container .coreleus-section_Team_card_text {
    letter-spacing: unset;
    font-size: 0.9em;
    padding: 0;
    transform: translateY(-120px);
    width: auto;
    padding-left: 2rem;
    padding: 1rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_container {
    margin-left: 0rem;
    padding: 0.2em;
  }

  .coreleus-section_footer_background .footer-margin_content {
    margin-top: 2vh;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text {
    font-size: 1.6em;
    transform: translateY(44px);
    margin-left: 1rem;
    padding-top: 0 !important;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text_above {
    margin-top: 8vh;
    font-size: 0.9em;
    letter-spacing: unset;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text_above:before {
    width: 104px;
    transform: translateY(0px) translateX(-8px);
    margin-left: 1rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_adresse li {
    font-size: 1em;
    margin-left: 1rem;
  }

  .coreleus-footer .coreleus-footer_copyright {
    font-size: 1em;
    letter-spacing: unset;
    margin-left: 1rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_kontakt {
    margin-top: 3rem;
    margin-top: 3rem;
  }

  .coreleus-footer {
    margin-top: 8.5vh;
    margin-left: 0;
    padding-bottom: 1rem;
  }

  .coreleus-section_footer_background {
    min-height: 63vh;
    height: fit-content;
    margin-top: 0;
  }

  .coreleus-section_footer_background .coreleus-impressum_btn {
    width: 18px;
    height: 18px;
    top: 4.4rem;
    left: 1em;
  }

  #impressum_slideshow_large .coreleus-section_footer_text_above:before {
    transform: translateY(0px) translateX(-19px);
    margin-left: 1.8rem !important;
  }

  .beta_footer_impressum .coreleus-section_footer_text {
    transform: translateY(48px) !important;
    margin-left: 2rem;
    padding-top: 0 !important;
  }

  .beta_footer_impressum .coreleus-section_footer_container {
    flex-direction: column;
  }

  .beta_footer_impressum .coreleus-section_impressum_right_margin {
    margin-left: 0 !important;
  }

  .beta_footer_impressum .coreleus-footer {
    margin-top: 5vh !important;
    transform: translateY(-8px) !important;
  }

  .coreleus-section_footer_adresse {
    margin: 1rem 0;
  }

  .coreleus-card_body {
    background-color: #585656;
    padding: 12;
    width: 79%;
    height: unset;
  }

  .coreleus-card_title {
    font-size: 1.3em;
  }

  .coreleus-card_text {
    transform: translateY(-17px) translateX(64px);
    font-size: 1em;
  }

  .coreleus-section_service_bakground .coreleus-services_title {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.4em;
  }

  .items-container {
    flex-direction: column;
    width: 100%;
  }

  .coreleus-card_beta_title {
    font-size: 1em;
    padding-bottom: 0;
    margin-top: 2rem;
  }

  .coreleus-card_beta_body {
    width: 300px;
    padding-right: unset;
    min-height: 85vh;
  }

  .coreleus-card_beta_img {
    height: 21vh;
    width: 300px;
  }

  .coreleus-card_beta_text {
    font-size: 1em;
    padding-bottom: 2rem;
  }

  .text_card_beta {
    font-size: 1em;
    margin-top: 0;
    max-width: 457px;
  }

  .coreleus-card_beta_body_text {
    transform: translateX(-4px) translateY(-44px);
  }

  .coreleus-service_container_items {
    margin-top: -0.6vh;
    position: relative;
    top: -2rem;
  }

  .RealEstate-mobile_body_text {
    min-height: 64vh;
  }

  .Projects-mobile_body_text {
    min-height: 70vh;
  }

  .Advisory-mobile_body_text {
    min-height: 78vh;
  }

  .RealEstate-card_beta_text {
    width: 369px;
  }

  .coreleus-section_service_bakground {
    height: fit-content;
  }

  .coreleus-section-Team_background .coreleus-section_Team_container {
    flex-direction: column;
  }

  .coreleus-section-Team_background .coreleus-card_beta_body {
    margin-left: 0;
  }

  .coreleus-section-Ansprechenpartner_title {
    padding-bottom: 3rem;
  }

  .card_large_none {
    display: none;
  }

  .coreleus-card_beta_large_body {
    height: 100vh;
  }

  .team_large_title {
    font-size: 1.3em;
    margin-top: 3rem;
  }

  .close {
    display: block;
  }

  .glide__arrow--left {
    left: -0.5rem !important;
  }

  .glide__arrow--right {
    right: -0.5rem !important;
  }

  .fa-window-close:before {
    background: cadetblue;
    position: relative;
    top: 0.4rem;
    left: -1rem;
  }

  .impressionen_slideshow {
    margin: 1em;
  }

  .glide__arrow {
    border: solid rgba(241, 234, 234, 0.8) !important;
    border-width: 0 2px 2px 0 !important;
    top: 48% !important;
  }

  .team_slideshow_normal s .glide__arrow {
    border: solid rgba(244, 233, 233, 0.8) !important;
    border-width: 0 2px 2px 0 !important;
    top: 39% !important;
  }
  .team_slideshow_normal .glide__arrow--right {
    right: 1.5rem !important;
  }
  .team_slideshow_normal .glide__arrow--left {
    left: 1.5rem !important;
  }
}
@media (min-width: 601px) and (max-width: 767.98px) {
  .header-coreleus .coreleus-menu_hamburger {
    margin-right: 1rem;
  }

  .header-coreleus_logo {
    width: auto;
    margin-left: 2rem;
  }

  .header-coreleus {
    padding-top: 2rem;
    min-height: 44vh;
  }

  .header-coreleus_heading_text {
    margin-left: 2rem;
    font-size: 1.6em;
  }

  .header-coreleus_heading {
    margin-top: 9vh;
  }

  .header-coreleus_heading_byline {
    margin-top: 3rem;
    font-size: 1em;
    letter-spacing: 0.068em;
    margin-left: 2rem;
  }
  .coreleus-section_about_row {
    flex-direction: column;
    margin-left: 2rem;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title_custom {
    margin-left: 3rem !important;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text_left {
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above_custom {
    margin-left: 0 !important;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text {
    margin-left: 0;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
    letter-spacing: 0.1em;
    font-size: 1.2em;
    transform: translateX(-29px);
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_right {
    margin-left: 3rem !important;
  }

  .coreleus-section_bakground_image {
    height: 50vh;
    margin-top: 5vh;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock {
    margin-top: 12vh;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
    font-size: 2em;
    width: auto;
  }

  .container-slick {
    width: auto;
    margin: auto;
  }

  .coreleus-section_service_bakground .coreleus-services_title {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .items-container {
    flex-direction: column;
    width: 100%;
  }

  .coreleus-service_container_items {
    width: 100%;
  }

  .coreleus-card_beta_img {
    height: 27vh;
    width: 100%;
  }

  .beta-coreleus-section_about_row .coreleus-section_row_card_above_custom_vision {
    margin-left: 0rem !important;
  }

  .coreleus-section_service_bakground {
    height: fit-content;
  }

  .coreleus-card_beta_body {
    height: fit-content;
    transform: translateY(-4px);
  }

  .beta-coreleus-section_background_image_textblock {
    transform: translateX(0px) translateY(0px) !important;
    margin-top: 0 !important;
  }

  .beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left_above {
    transform: translateY(-2px);
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_title {
    transform: translateY(0);
    padding-bottom: 1.8rem !important;
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_conteneur {
    grid-template-columns: unset;
  }

  .coreleus-section-impressionen_title {
    padding-bottom: 2.6rem;
    transform: translateY(0px);
    padding-top: 3.6rem;
  }

  .coreleus-section-Team_background {
    margin-top: 5vh;
  }

  .coreleus-section_footer_background .coreleus-section_footer_container {
    margin-left: 0;
  }

  .coreleus-section_footer_background {
    margin-top: 0vh;
  }

  .coreleus-footer {
    margin-top: 13vh;
    padding: 2em;
    margin-left: 0;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text {
    font-size: 3em;
    padding-top: 0 !important;
  }

  .coreleus-section_footer_container {
    padding: 2em;
  }

  .beta_footer_impressum .coreleus-section_impressum_right_margin {
    margin-left: 2rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_adresse li {
    font-size: 1.2em;
    text-align: unset;
    transform: translateX(0);
    line-height: 1.3;
  }

  .coreleus-section_footer_background .coreleus-impressum_btn {
    top: 8.8rem;
  }

  .card_large_none {
    display: none;
  }

  .close {
    display: block;
  }

  .coreleus-section-Team_background .coreleus-card_beta_body {
    margin: 1rem;
    height: fit-content;
  }

  .coreleus-section-Team_background .coreleus-section-impressionen_title {
    color: white;
    padding-bottom: 3rem !important;
    padding-top: 4rem;
    font-size: 1.6em;
    letter-spacing: 0.11em;
  }

  .text_card_beta_lütjen {
    font-size: 1.1em;
  }
}
/* Large devices (max-width:991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title_custom {
    margin-left: 0.5rem !important;
  }

  .coreleus-menu_hamburger {
    margin-right: 1rem;
  }

  .header-coreleus_logo {
    width: auto;
    margin-left: 2rem;
  }

  .header-coreleus_heading {
    margin-top: 14vh;
    padding-left: 2rem;
  }

  .header-coreleus_heading_text {
    font-size: 2.6em;
  }

  .header-coreleus_heading_byline {
    margin-top: 2rem;
    font-size: 1.2em;
  }

  .header-coreleus {
    min-height: 55vh;
    padding-top: 2rem;
  }

  .coreleus-section_about_row {
    margin-top: 2vh;
    display: flex;
    margin-left: 0;
    padding: 1em;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title {
    font-size: 1.7em;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
    font-size: 0.9em;
    margin-top: 3.9vh;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text_left {
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text {
    font-size: 1em;
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above_custom {
    margin-left: 0 !important;
  }

  .coreleus-section_bakground_image {
    height: 50vh;
    margin-top: 3vh;
  }

  .beta_coreleus-section_background_image_textblock_text_left_above {
    margin-top: 1.8vh !important;
    letter-spacing: 0.13em !important;
    font-size: 1em !important;
    margin-left: 4rem;
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_title {
    padding-bottom: 0 !important;
    padding: 2rem 0;
    transform: translateY(0px);
  }

  .beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left {
    margin-top: -1rem !important;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock {
    margin-top: 5vh;
    padding: 1em;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
    font-size: 2.5em;
    margin-left: 1rem;
  }

  .container-slick {
    width: auto;
    margin: auto;
  }

  .coreleus-section_service_bakground .coreleus-services_title {
    padding-bottom: 3rem;
    padding-top: 4rem;
  }

  .beta-coreleus-section_background_image_textblock {
    transform: translateX(0px) translateY(0px) !important;
    padding: 1em;
  }

  .coreleus-section-impressionen_title {
    padding-bottom: 4.6rem;
    transform: translateY(63px);
  }

  .impressionen_slideshow {
    margin: 1em;
  }

  .coreleus-section-Team_background {
    margin-top: 3vh;
    height: auto;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
    margin-top: 10.2vh;
    letter-spacing: 0.13em;
    font-size: 1em;
    transform: translateX(-80px);
    white-space: nowrap;
  }

  .beta-coreleus-section_about_row .coreleus-section_row_card_above_custom_vision {
    margin-left: 0rem !important;
  }

  .coreleus-ansprechpartner {
    margin-bottom: 3rem;
  }

  .coreleus-section_footer_background {
    padding: 1em;
    height: fit-content;
  }

  .coreleus-section_footer_background .coreleus-impressum_btn {
    top: 5.7rem;
    left: 3rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text {
    font-size: 3em;
    max-width: 668px;
    transform: translateY(50px);
    padding-top: 0 !important;
  }

  .coreleus-section_footer_background .coreleus-section_footer_adresse li {
    font-size: 1em;
  }

  .coreleus-section_footer_background .footer-margin_content {
    margin-top: 4vh;
  }

  .beta_footer_impressum .coreleus-footer {
    margin-top: 3.5vh;
  }

  .beta_footer_impressum .coreleus-section_impressum_right_margin {
    margin-left: 2rem;
  }

  .coreleus-footer {
    margin-top: 6.5vh;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text_above {
    margin-top: 11.8vh;
  }

  .custom_about {
    margin-left: 4rem;
  }

  .card_large_none {
    display: none;
  }

  .close {
    display: block;
  }

  .coreleus-section-Team_background .coreleus-card_beta_body {
    margin: 1rem;
    height: fit-content;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
    margin-left: 0;
    transform: translateX(0);
  }

  .coreleus_responsive_card_right {
    margin-left: -7rem;
    padding: 0px 2rem;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title:before {
    transform: translateX(-10px);
  }

  .coreleus-card_text {
    font-size: 1.9em;
    max-width: 545px;
  }

  .items-container {
    flex-direction: column;
    width: 100%;
  }

  .coreleus-service_container_items {
    width: 100%;
  }

  .coreleus-card_beta_img {
    height: 27vh;
    width: 100%;
  }

  .coreleus-section_service_bakground {
    height: fit-content;
  }

  .coreleus-card_beta_body {
    height: fit-content;
    transform: translateY(-4px);
  }

  #service_slideshow_normal .glide__arrow--right {
    right: 1rem !important;
  }
  #service_slideshow_normal .glide__arrow--left {
    left: 1rem !important;
  }

  #impressionen_slideshow .glide__arrow--left {
    left: -0.5rem !important;
  }
  #impressionen_slideshow .glide__arrow--right {
    right: -0.5rem !important;
  }
  #impressionen_slideshow .glide__arrow {
    border: solid rgba(32, 30, 30, 0.8) !important;
    border-width: 0 2px 2px 0 !important;
    box-shadow: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .close {
    display: block;
  }

  .header-coreleus_logo {
    width: auto;
    margin-left: 5em;
  }

  .header-coreleus .coreleus-menu_hamburger {
    margin-right: 1rem;
  }

  .header-coreleus_heading {
    margin-top: 16.4vh;
    margin-left: 4rem;
  }

  .header-coreleus_heading_text {
    font-size: 2.5em;
  }

  .header-coreleus_heading_byline {
    font-size: 1em;
  }

  .header-coreleus {
    min-height: 60vh;
    padding-top: 2rem;
  }

  .coreleus-section_about_row {
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above_custom {
    margin-left: 5rem !important;
    font-size: 1em;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_above {
    font-size: 1em;
    margin-left: 0;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_right {
    margin-left: -1rem !important;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_text {
    font-size: 1em;
  }

  .beta_coreleus-section_row_card_text {
    margin-left: 0 !important;
  }

  .custom_about {
    margin-left: 4rem;
  }

  .coreleus-section_bakground_image {
    height: 69vh;
    margin-top: 5.1vh;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock {
    margin-top: 12.3vh;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
    font-size: 2.5em;
    padding: 1em;
    margin-left: 0;
    margin-top: 0 !important;
  }

  .coreleus-item {
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
  }

  .container-slick {
    width: auto;
    margin: auto;
  }

  .coreleus-card_img {
    width: 100%;
    height: 49vh !important;
  }

  .coreleus-card_beta_img {
    overflow: hidden;
    object-fit: cover;
    width: 667px;
  }

  #team_slideshow_large .coreleus-card_beta_body {
    position: relative;
    top: -0.3rem;
    height: auto;
    margin: 2em;
  }

  .coreleus-section-impressionen .glide__arrow--right {
    transform: rotate(-45deg) !important;
    right: -1rem !important;
  }
  .coreleus-section-impressionen .glide__arrow--left {
    transform: rotate(135deg) !important;
    -webkit-transform: rotate(135deg);
    left: -1.1rem !important;
  }

  .coreleus-card_body {
    margin: 0 auto;
    max-width: 600px;
  }

  .coreleus-section_service_bakground .coreleus-services_title {
    padding-bottom: 3rem;
    padding-top: 4rem;
  }

  .coreleus-section_service_bakground {
    height: fit-content;
  }

  .beta-coreleus-section_background_image_textblock {
    transform: translateX(0px) translateY(0px) !important;
  }

  .beta-coreleus-section_background_image_textblock .coreleus-section_background_image_textblock_text_left_above {
    margin-left: 3rem;
  }

  .impressionen_slideshow {
    position: relative;
    margin: 3rem;
  }

  .coreleus-section-impressionen_title {
    padding-bottom: 3.6rem;
    transform: translateY(55px);
  }

  .coreleus-section-Team_background {
    margin-top: 1vh;
    height: auto;
  }

  #team_slideshow_large .coreleus-section_Team_card {
    display: none;
  }

  .coreleus-ansprechpartner {
    padding-bottom: 7.6rem;
  }

  .coreleus-section_footer_container {
    padding: 0;
  }

  .coreleus-footer {
    margin-top: 1.5vh;
    padding: 2em;
  }

  .coreleus-section_footer_background {
    padding: 1em;
    height: fit-content;
  }

  .coreleus-section_footer_background .coreleus-impressum_btn {
    top: 9rem;
    left: 3rem;
  }

  .beta_footer_impressum .coreleus-section_footer_text {
    margin-left: 5rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text {
    padding-top: 0 !important;
  }

  .beta_footer_impressum .coreleus-section_impressum_right_margin {
    margin-left: 3rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_adresse li {
    font-size: 1.3em;
  }

  .coreleus-card_beta_body {
    height: unset;
    position: relative;
    top: -0.3rem;
  }

  .service_slideshow_normal {
    margin-bottom: 4rem;
  }

  .coreleus-section_about_row .coreleus-section_row_card .coreleus-section_row_card_title_custom {
    margin-left: 6rem !important;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .service_slideshow_large .glide__arrow--left {
    display: none;
  }
  .service_slideshow_large .glide__arrow--right {
    display: none;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text_above {
    margin-top: 13.8vh;
    margin-right: 4rem;
    transform: translateX(-67px);
  }

  .impressum_above {
    margin-top: 20.8vh !important;
    margin-right: 4rem;
    transform: translateX(35px) !important;
  }

  .header-coreleus_logo {
    width: auto;
    margin-left: 7rem;
  }

  .header-coreleus_heading {
    margin-top: 23.4vh;
    margin-left: 7rem;
  }

  .header-coreleus_heading_text {
    font-size: 2.5em;
  }

  .header-coreleus_heading_byline {
    font-size: 1em;
    margin-top: 3rem;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
    transform: translateX(25px);
  }

  .header-coreleus {
    min-height: 100vh;
    padding-top: 3rem;
  }

  .coreleus-section_about_row {
    margin-left: 10rem;
    width: auto;
  }

  .header-coreleus .ml_desktop_150 {
    transform: translateY(-32px) translateX(0px);
  }

  .header-coreleus_nav > li {
    font-size: 1em;
  }

  .custom-responsive {
    padding: 1rem;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock {
    margin-top: 27.3vh;
  }

  .container-slick {
    width: auto;
    margin: auto;
  }

  .coreleus-card_text {
    transform: translateY(-30px) translateX(30px);
    font-size: 1em;
    padding: 0.8em;
  }

  .beta-coreleus-card_text {
    max-width: 900px !important;
    width: 100% !important;
    hyphens: auto;
  }

  .coreleus-section_service_bakground {
    height: fit-content;
    padding: 3em;
  }

  .coreleus-item {
    padding: 2rem;
  }

  .coreleus-section_service_bakground .coreleus-services_title {
    padding-bottom: 4rem;
    padding-top: 1rem;
  }

  .coreleus-card_title {
    font-size: 1.4em;
    padding-bottom: 0;
    transform: translateX(42px);
  }

  .coreleus-card_body {
    padding: 0;
    width: 100%;
  }

  .coreleus-card_img {
    height: 40vh !important;
  }

  .items-container {
    width: 100%;
  }

  .coreleus-card_beta_body {
    height: 60vh;
    margin-bottom: 0;
  }

  .coreleus-card_beta_title {
    font-size: 1.8em;
    padding: 0.9em;
  }

  .coreleus-card_beta_title_text {
    transform: translateX(30px) translateY(-53px);
  }

  .coreleus-card_beta_body_text {
    transform: translateX(0px) translateY(-73px);
  }

  .text_card_beta {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .coreleus-card_beta_text {
    font-size: 1em;
    text-transform: uppercase;
  }

  .coreleus-card_beta_img {
    height: 60vh;
  }

  .beta-coreleus-section_background_image_textblock {
    transform: translateX(0px) translateY(0px) !important;
    margin-top: 2vh !important;
    margin-left: 25rem;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left_above {
    margin-top: 3vh;
  }

  .coreleus-section_bakground_image {
    height: 100vh;
  }

  .beta_coreleus-section_bakground_image {
    margin-top: 4.5rem;
  }

  .impressionen_slideshow {
    margin: 3rem;
  }

  .coreleus-section-impressionen .coreleus-section-impressionen_title {
    padding-bottom: 0.8rem !important;
    padding-top: 3rem !important;
    transform: translateY(0px);
  }

  .coreleus-section-impressionen .glide__arrow--right {
    right: -2rem !important;
  }
  .coreleus-section-impressionen .glide__arrow--left {
    left: -2rem !important;
  }

  .coreleus-section-Team_background {
    margin-top: 2vh;
    height: fit-content;
  }

  .coreleus-ansprechpartner {
    padding-bottom: 7.6rem !important;
    padding-top: 3rem !important;
  }

  .coreleus-section_footer_container {
    padding: 3em;
  }

  .coreleus-footer {
    margin-top: 1.5vh;
    padding: 3em;
  }

  .coreleus-section_footer_background {
    height: fit-content;
  }

  .beta_footer_impressum .coreleus-section_footer_text {
    margin-left: 2em;
  }

  .coreleus-section_footer_background .coreleus-impressum_btn {
    left: 5em;
    top: 15rem;
  }

  .coreleus-section_footer_background .coreleus-section_footer_text_above:before {
    margin-left: 5rem;
  }

  .coreleus-section_bakground_image .coreleus-section_background_image_textblock_text_left {
    padding: 1em;
    font-size: 2.5em;
    margin-left: 2rem;
    max-width: 900px;
  }

  .text_card_beta_lütjen {
    font-size: 1em;
    line-height: 1.5;
  }

  .coreleus-section-Team_background .team-large .coreleus-card_beta_img {
    height: 64.4vh;
  }

  .coreleus-section-Team_background .team-large .coreleus-section_Team_card_text {
    font-size: 0.99em !important;
    transform: translateY(-76px) translateX(37px) !important;
    width: 371px !important;
    padding: 1.9em 0;
    position: relative;
    top: 0.5rem;
    line-height: 1.5;
    padding-left: 2em;
    letter-spacing: 0.2rem;
  }

  .coreleus-section-Team_background .coreleus-card_beta_body {
    margin-left: 2.3rem !important;
    transform: translateY(4px);
    opacity: 0.7;
    width: 60%;
    height: 65vh;
  }

  .service_slideshow_normal .glide__arrow--right {
    transform: rotate(-45deg) !important;
    right: -1rem !important;
  }
  .service_slideshow_normal .glide__arrow--left {
    transform: rotate(135deg) !important;
    -webkit-transform: rotate(135deg);
    left: -1rem !important;
  }

  #team_slideshow_normal .glide__arrow--right {
    right: 0 !important;
  }
  #team_slideshow_normal .glide__arrow--left {
    left: 0 !important;
  }
}
@media (max-width: 1200px) {
  .ml_desktop_150 {
    transform: none;
  }

  .header-coreleus_nav {
    display: none;
  }

  .header-coreleus .coreleus-menu_hamburger {
    display: block;
  }

  .service_slideshow_large .glide__arrow--left {
    display: none;
  }
  .service_slideshow_large .glide__arrow--right {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
